modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server/dist/index.js"]
build = ["npm", "run", "build"]

[userenv]

[userenv.production]
NODE_ENV = "production"
SERVE_CLIENT = "true"

[userenv.shared]
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51Sq48ARbCdhGZmgA1tjCiJOsYJ1HQ8rwvaCa4gJKpB6Tdp7BOrGW0yH1v1eM1DgAaZBx8rFN3mKqtHsZayMTohsv000OIC9oWU"
STRIPE_PRICE_BASIC = "price_1Sr7zxRbCdhGZmgAycr1kB25"
STRIPE_PRICE_PRO = "price_1Sr83SRbCdhGZmgAFpR8wGM5"
STRIPE_PRICE_ENTERPRISE = "price_1Sr84ERbCdhGZmgAYqxFbLy9"
